<form>
  <mat-form-field class="example-full-width" *ngIf="showComponent">
    <mat-label>{{ label }}</mat-label>
    <input
      matInput
      aria-label="State"
      [matAutocomplete]="auto"
      [formControl]="autoselectCtrl"
      #autoselect
    />
    <div class="icons" matSuffix>
      <pets-icons
        class="clear-icon"
        [name]="'x'"
        [size]="'17px'"
        (click)="clearText()"
        *ngIf="autoselect.value"
      ></pets-icons>
      <pets-icons
        class="down-icon"
        [name]="'down-icon'"
        [size]="'11px'"
        *ngIf="!autoselect.value"
      ></pets-icons>
    </div>
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="onChangeSelectedObject($event.option.value)"
      [displayWith]="displayFn"
    >
      <mat-option
        *ngFor="let option of filteredStates | async"
        [value]="option"
      >
        <span>{{ option.displayName }}</span>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
