<form>
  <mat-form-field class="example-full-width" *ngIf="showComponent">
    <mat-label>{{ label }}</mat-label>
    <input
      matInput
      placeholder="State"
      aria-label="State"
      [matAutocomplete]="auto"
      [formControl]="stateCtrl"
    />
    <pets-icons
      class="down-icon"
      matSuffix
      [name]="'down-icon'"
      [size]="'11px'"
    ></pets-icons>
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="onChangeSelectedObject($event.option.value)"
      [displayWith]="displayFn"
    >
      <mat-option
        *ngFor="let option of filteredStates | async"
        [value]="option"
      >
        <span>{{ option.displayName }}</span>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
