.container {
  box-sizing: content-box;
  position: relative;
  border: 1px solid rgb(147, 147, 147);
  border-radius: 6px;
  display: flex;

  background: linear-gradient(180deg, #e7cdff 0, #f2e3ff 75%, #b284dd);
  box-shadow: 0 1px 3px 0 #7222bc;
  height: 10rem;

  .thumbnail {
    position: relative;
    width: 200px;
    padding: 3px;

    img {
      object-fit: fill;
      object-position: center;
      top: 50%;
      width: 100%;
      height: 100%;
      border-radius: 10px;
    }

    .media-counters {
      position: absolute;
      right: 10px;
      bottom: 5px;
      border-radius: 6px;
      padding: 3px;
      display: flex;
      background-color: rgb(0, 0, 0);
      opacity: 0.5;
      align-items: center;
      z-index: 1;

      .counter {
        opacity: 1;
        display: flex;
        align-items: center;
        margin: 0 5px;
        color: var(--color-white);

        pets-icons {
          margin-right: 3px;
        }
      }
    }
  }

  .ad-container {
    width: 100%;
    padding: 10px;

    .title {
      font-weight: 600;
      font-size: 18px;
    }

    .price {
      font-weight: 600;
      font-size: 18px;
    }

    .description {
    }

    .time {
      display: flex;

      pets-icons {
        margin-right: 5px;
      }
    }

    .place {
    }

    .favorite {
      position: absolute;
      margin: 10px;
      top: 0;
      right: 0;
    }
  }
}
