.container {
  --description-height: 85px;

  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  box-sizing: content-box;
  position: relative;
  overflow: hidden;
  box-shadow: 0 1px 3px rgb(0 0 0 / 30%);
  transition: transform 400ms ease;
  background-color: var(--color-white);

  .image-container {
    cursor: pointer;

    .thumbnail {
      position: relative;

      .media-counters {
        position: absolute;
        left: 10px;
        top: 5px;
        border-radius: 6px;
        padding: 3px;
        display: flex;
        background-color: rgb(0, 0, 0);
        opacity: 0.5;
        align-items: center;
        z-index: 1;

        .counter {
          opacity: 1;
          display: flex;
          align-items: center;
          margin: 0 5px;
          color: var(--color-white);

          pets-icons {
            margin-right: 3px;
          }
        }
      }

      img {
        object-fit: cover;
        object-position: center;
        width: 100%;
        border-radius: 6px 6px 0 0;
        max-height: 200px;
      }
    }
  }

  .info-container {
    padding: 10px;

    .ad-container {
      width: 100%;

      .title-content {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .title {
          font-weight: 600;
          font-size: 18px;
        }

        .favorite {
          cursor: pointer;
        }
      }

      .price {
        font-weight: 600;
        font-size: 18px;
      }

      .description {
        margin: 10px 0 20px 0;
        text-align: justify;
      }

      .footer {
        display: flex;
        justify-content: space-between;

        // .time {
        //   display: flex;

        //   pets-icons {
        //     margin-right: 5px;
        //   }
        // }

        .place {
          font-size: 14px;
        }
      }
    }
  }
}

.container:hover {
  transform: scale(1.05);
}
