<div class="reset-password-container">
  <form *ngIf="resetPasswordForm" [formGroup]="resetPasswordForm">
    <mat-form-field>
      <mat-label [class.mark-required]="true" [class.mark-opt-required]="true">
        {{ "oldPassword" | translate }}
      </mat-label>
      <input type="text" matInput formControlName="password" />
    </mat-form-field>
    <mat-form-field>
      <mat-label [class.mark-required]="true" [class.mark-opt-required]="true">
        {{ "newPassword" | translate }}
      </mat-label>
      <input type="text" matInput formControlName="newPassword" />
    </mat-form-field>
    <mat-form-field>
      <mat-label [class.mark-required]="true" [class.mark-opt-required]="true">
        {{ "confirmPassword" | translate }}
      </mat-label>
      <input type="text" matInput formControlName="confirmPassword" />
    </mat-form-field>
    <pets-button
      color="primary"
      class="submit-button"
      (clickEvent)="submit()"
      [fullWidth]="true"
    >
      {{ "submit" | translate }}
    </pets-button>
  </form>
</div>
