// Button icon positioning
pets-button {
  .mat-button-wrapper {
    display: flex;
    align-items: center;
  }

  .pets-icon-right {
    .button-content {
      flex-direction: row-reverse;
    }
  }
}
