<div
  class="example-container"
  cdkDropListGroup
  [ngStyle]="{ '--box-width': boxWidth, '--box-height': boxHeight }"
>
  <div
    cdkDropList
    (cdkDropListEntered)="onDropListEntered($event)"
    (cdkDropListDropped)="onDropListDropped()"
  ></div>
  <div
    cdkDropList
    (cdkDropListEntered)="onDropListEntered($event)"
    (cdkDropListDropped)="onDropListDropped()"
    *ngFor="let item of items; let i = index"
  >
    <div cdkDrag class="example-box">
      <img [src]="getImageUrl(item)" [alt]="item.description" class="image" />
      <div class="name">
        <pets-button
          [iconName]="'trash-2'"
          [color]="'link-white'"
          [smallWidth]="true"
          (clickEvent)="removeImage(item); $event.stopPropagation()"
        ></pets-button>
      </div>
      <div class="additional-info">
        <div class="image-index">{{ i + 1 }}</div>
      </div>
    </div>
  </div>
</div>
