.main-container {
  display: flex;
  justify-content: space-between;

  .left-part {
    border: 1px solid blue;
    .logo {
    }
  }

  .center-part {
    border: 1px solid blue;
    flex-grow: 1;

    .search-bar {
    }
  }

  .right-part {
    display: flex;
    border: 1px solid blue;

    .notifications {
    }
    .user-info {
      margin: 0 20px;
    }
    .create-ad-button {
    }
  }
}
