.main-container {
  display: flex;
  justify-content: space-between;

  .left-part {
    display: flex;
    align-items: center;

    .logo {
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        height: 50px;
      }
    }
  }

  .center-part {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 0 30px;

    .search-bar {
      width: 100%;
    }
  }

  .right-part {
    display: flex;
    align-items: center;

    .notifications {
    }
    .user-info {
      display: flex;
      margin: 0 20px;
    }
    .create-ad-button {
    }
  }
}
