<div class="carousel-container">
  <div class="preview">
    <pets-icons
      [name]="'chevron-left'"
      [color]="'white'"
      (click)="prevSlide()"
      class="button"
      [size]="'32px'"
    ></pets-icons>
    <div class="active-slide">
      <img [src]="dataModel[currentIndex].imageUrl" />
    </div>
    <pets-icons
      [name]="'chevron-right'"
      [color]="'white'"
      (click)="nextSlide()"
      class="button"
      [size]="'32px'"
    ></pets-icons>
  </div>
  <div class="all-images">
    <div
      class="image"
      *ngFor="let image of dataModel; let i = index"
      (click)="selectImage(i)"
    >
      <img
        [src]="image.imageUrl"
        [ngClass]="{ selected: i === currentIndex }"
      />
    </div>
  </div>
</div>
