<!-- Sign in form -->
<div class="auth-form flex flex-col">
  <pets-button
    [text]="'switchToSignIn' | translate"
    (clickEvent)="switchToSignIn()"
  ></pets-button>
  <h1>{{ "register" | translate }}</h1>
  <form
    autocomplete="off"
    name="signUpForm"
    [formGroup]="signUpForm"
    novalidate
    *ngIf="signUpForm"
  >
    <mat-form-field appearance="outline">
      <mat-label>{{ "email" | translate }}</mat-label>
      <input matInput type="text" formControlName="username" />
      <mat-error>
        {{ "requiredField" | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="auth-input-field">
      <mat-label>{{ "newPassword" | translate }}</mat-label>
      <input
        name="password"
        type="password"
        matInput
        formControlName="password"
        required
        #passwordField
      />
      <button
        mat-icon-button
        type="button"
        (click)="
          passwordField.type === 'password'
            ? (passwordField.type = 'text')
            : (passwordField.type = 'password')
        "
        matSuffix
      >
        <pets-icons
          [name]="'eye-off'"
          *ngIf="passwordField.type === 'password'"
          class="auth-password-visibility"
        ></pets-icons>
        <pets-icons
          [name]="'eye'"
          *ngIf="passwordField.type === 'text'"
          class="auth-password-visibility"
        ></pets-icons>
      </button>
      <mat-error>
        {{ "requiredField" | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="auth-input-field">
      <mat-label>{{ "confirmNewPassword" | translate }}</mat-label>
      <input
        name="passwordConfirm"
        type="password"
        matInput
        formControlName="passwordConfirm"
        required
        #confirmPasswordField
      />
      <button
        mat-icon-button
        type="button"
        (click)="
          confirmPasswordField.type === 'password'
            ? (confirmPasswordField.type = 'text')
            : (confirmPasswordField.type = 'password')
        "
        matSuffix
      >
        <pets-icons
          [name]="'eye-off'"
          *ngIf="confirmPasswordField.type === 'password'"
          class="auth-password-visibility"
        ></pets-icons>
        <pets-icons
          [name]="'eye'"
          *ngIf="confirmPasswordField.type === 'text'"
          class="auth-password-visibility"
        ></pets-icons>
      </button>
      <mat-error *ngIf="passwordField.value != confirmPasswordField.value">
        {{ "passwordsDontMatch" | translate }}
      </mat-error>
    </mat-form-field>

    <div class="footer-text">
      <span
        >{{ "bySigningInIAgreeToThe" | translate }}
        <a
          class="auth-under-text"
          [routerLink]="['/terms-and-conditions']"
          [queryParams]="{ version: 'newest' }"
          target="_blank"
          rel="noopener noreferrer"
          >{{ "termsAndConditions" | translate }}</a
        >.
      </span>
    </div>

    <pets-button
      class="auth-submit-button"
      aria-label="LOG IN"
      [disabled]="
        signUpForm.get('passwordConfirm')?.value === '' ||
        signUpForm.get('passwordConfirm')?.value === null
      "
      (click)="createAccount()"
      [fullWidth]="true"
    >
      {{ "submit" | translate }}
    </pets-button>
  </form>
</div>
