.auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  form {
    display: flex;
    width: 300px;
    flex-direction: column;
    margin: 30px;
    align-items: center;

    mat-form-field {
      width: 100%;
      margin-bottom: 30px;
    }

    ::ng-deep .mat-mdc-form-field-subscript-wrapper {
      height: 0px;
    }

    .auth-submit-button {
      margin-top: 30px;
      width: 100%;
    }
  }
}
