<div class="container">
  <h3>Polisa o poštovanju privatnosti</h3>
  Dobro došli! Kada koristite portal ili mobilnu aplikaciju KupujemProdajem,
  može se dogoditi da nam poverite svoje lične podatke (podatke o ličnosti) na
  obradu ili čuvanje. Svako prikupljanje, obradu i čuvanje Vaših podataka
  uradićemo u skladu sa važećim propisima Republike Srbije i novom evropskom
  regulativom o zaštiti podataka o ličnosti, poznatom pod imenom GDPR (General
  Data Protection Regulation). Vaša privatnost je važna. Zato Vam savetujemo da
  pažljivo pročitate ovaj tekst i informišete se. Na ovoj stranici saznaćete:
  Koje tipove ličnih podataka prikupljamo U koje svrhe prikupljamo Vaše lične
  podatke Kako koristimo Vaše lične podatke U kojim slučajevima možemo podeliti
  Vaše lične podatke sa trećim licima Kakva su Vaša prava u vezi sa ličnim
  podacima koje prikupljamo Kako nam se možete obratiti sa pitanjima u vezi sa
  Vašim ličnim podacima Šta se dešava u slučaju promene ove polise Koje tipove
  ličnih podataka prikupljamo Kako bismo Vam pružali usluge u skladu sa
  Pravilima i uslovima korišćenja KupujemProdajem, kao i obezbedili udobno i
  bezbedno korišćenje KupujemProdajem, prikupljamo tri osnovna tipa podataka.
  Podaci koje nam direktno ostavite Ovo su podaci koje nam ostavljate kada
  kreirate korisnički nalog na KupujemProdajem i kada postavljate oglas na
  KupujemProdajem. Možemo sačuvati i u posebnim slučajevima obraditi podatke
  poput: imena i prezimena, e-mail adrese i broja telefona, te opisa i
  fotografija predmeta koji želite da prodate. Možemo prikupljati i podatke u
  vezi sa Vašim angažmanom u KupujemProdajem, ili putem forme koju sami
  popunjavate ili direktnim slanjem Vaše biografije putem email-a. U tom
  slučaju, saglasni ste da se Vaši lični podaci, koje ostavite na navedene
  načine, mogu koristiti isključivo u svrhu komunikacije i Vašeg potencijalnog
  angažmana u vezi sa platformom KupujemProdajem, a sve u skladu sa Zakonom o
  zaštiti podataka o ličnosti, Polisi o poštovanju privatnosti Pravilima i
  uslovima o korišćenja KupujemProdajem, kao i drugih odnosnih propisa Republike
  Srbije. Podaci koje prikupljamo Vašim korišćenjem KupujemProdajem Podaci o
  načinu na koji koristite KupujemProdajem Možemo sačuvati i u posebnim
  slučajevima obraditi podatke o tome koje ste sve oglase postavili na
  KupujemProdajem, koje ste ključne reči koristili za pretraživanje oglasa, koje
  ste oglase promovisali putem usluga za promocije oglasa, te koje ste druge
  korisnike KupujemProdajem kontaktirali putem sistema za razmenu poruka unutar
  KupujemProdajem. Možemo sačuvati i u posebnim slučajevima obraditi tekstualne
  konverzacije i razmenjene slike u porukama sa drugim korisnicima koje ste
  realizovali putem sistema za razmenu poruka unutar KupujemProdajem, kao i
  tekstualne konverzacije sa administracijom KupujemProdajem realizovane putem
  kontakt forme. Takođe, možemo sačuvati i u posebnim slučajevima obraditi
  podatke o ocenama koje ste dali drugim korisnicima KupujemProdajem, podatke o
  korisnicima koje ste dodali u Adresar unutar KupujemProdajem, te podatke o
  oglasima koje ste dodali na listu oglasa koje pratite, kao i podatke o Vašim
  Sačuvanim pretragama. Podaci o Vašim uređajima Tokom korišćenja
  KupujemProdajem, možemo prikupiti i obraditi podatke o uređajima sa kojih
  pristupate KupujemProdajem. Ovi podaci mogu uključiti marku i tip uređaja,
  operativni sistem i njegovu verziju, jedinstvene oznake uređaja, te podatke o
  internet mreži sa koje pristupate KupujemProdajem. Podaci o Vašoj lokaciji
  Tokom korišćenja KupujemProdajem, možemo prikupiti i obraditi podatke o Vašoj
  lokaciji, putem tehnologija kakve su IP adresa ili GPS senzor Vašeg mobilnog
  telefona. Cookie-ji i druge slične tehnologije Kada pristupate
  KupujemProdajem, možemo iskoristiti tehnologiju Cookie-ja i druge slične
  tehnologije da bismo identifikovali Vaš internet pretraživač, odnosno da bismo
  Vam prikazali reklame. Korišćenje KupujemProdajem može rezultovati automatskim
  čuvanjem određenih podataka na Vašem uređaju, poput Cookie-ja i aplikativnih
  cache podataka potrebnih za komfornije korišćenje KupujemProdajem. Podaci koje
  nam ostavite prilikom plaćanja usluga promocija oglasa Kada koristite plaćene
  usluge promocija oglasa na KupujemProdajem, možemo sačuvati podatke o Vašim
  uplatama ka KupujemProdajem, kao što su referenca transakcije, naziv Vaše
  banke, broj tekućeg računa i slično. Ako koristite plaćanje putem SMS poruka,
  možemo sačuvati Vaš broj telefona. U koje svrhe prikupljamo Vaše lične podatke
  KupujemProdajem Vaše lične podatke može prikupljati i obrađivati u različite
  svrhe. Sve u daljem tekstu pomenute svrhe su naša zakonska obaveza (npr.
  identifikacija) ili ugovorna obaveza ka korisnicima, proistekla iz Pravila i
  uslova korišćenja KupujemProdajem (koja regulušu pružanje željenih usluga
  informacionog društva korisnicima i ostvarivanje naših legitimnih interesa).
  Identifikacija korisnika Identifikacija korisnika KupujemProdajem u smislu
  korisničkog naloga potrebna je zarad obezbeđivanja nesmetanog funkcionisanja
  određenih funkcija KupujemProdajem, poput postavljanja oglasa i konverzacija
  sa drugim korisnicima putem sistema za razmenu poruka unutar KupujemProdajem
  (poruke mogu sadržati tekst i/ili slike u porukama). U našem slučaju,
  identifikacija podrazumeva prikupljanje podataka o IP adresi korisnika, što je
  zakonska obaveza po članu 16. Zakona o elektronskoj trgovini. U slučaju da se
  korišćenjem KupujemProdajem izvrši krivično delo, identifikacija korisnika
  štiti oštećenu stranu, pomaže izvršnim državnim organima u identifikaciji
  počinioca, odnosno može pomoći u rešavanju građanskih sporova. Pružanje usluga
  informacionog društva (emitovanje i arhiviranje oglasa, kontakt sa drugim
  korisnicima) Prikupljanje podataka o predmetima koji se oglašavaju na
  KupujemProdajem, na primer opisa i fotografija predmeta, potrebno je zarad
  nesmetanog funkcionasanja KupujemProdajem i postojanja elementarnih uslova za
  pružanje osnovne usluge koju KupujemProdajem nudi korisnicima. Kako bi osnovna
  usluga koju KupujemProdajem nudi svojim korisnicima bila kvalitetna i
  besplatna, potrebno je prikupljanje podataka koji omogućavaju rad svih
  funkcija KupujemProdajem, npr. postavljanja i pretrage oglasa, konverzacija sa
  drugim korisnicima putem sistema za razmenu poruka unutar KupujemProdajem,
  automatskog pamćenja lozinke za KupujemProdajem korisnički nalog u Vašem
  internet pretraživaču, itd. Budući da je osnovna usluga koju nudi svojim
  korisnicima besplatna, KupujemProdajem prihoduje od reklama koje prikazuje
  korisnicima, a za čije prikazivanje se mogu koristiti podaci o lokaciji
  korisnika, kao i Cookie-ji i druge srodne tehnologije koje pomažu u
  identifikaciji internet pretraživača korisnika. Realizacija ponuda partnerskih
  kompanija KupujemProdajem svojim korisnicima može ponuditi kupovinu proizvoda
  i usluga partnerskih kompanija po privilegovanim uslovima. Da biste preko
  KupujemProdajem ostvarili pravo na privilegovane uslove pri kupovini takvih
  proizvoda i usluga, možemo od Vas zatražiti izričiti pristanak da Vaše lične
  podatke, poput imena, broja telefona i e-mail adrese, prosledimo partnerskim
  kompanijama. Profilisanje korisnika Budući da je osnovna usluga koju nudi
  svojim korisnicima besplatna, KupujemProdajem prihoduje od reklama koje
  prikazuje korisnicima. Podaci koje prikupljamo korišćenjem KupujemProdajem,
  primera radi podaci o tome koje kategorije i grupe na KupujemProdajem
  korisnici posećuju i koje oglase pregledaju, mogu nam pomoći da im prikažemo
  kvalitetnije i relevantnije reklame. Kako koristimo Vaše lične podatke
  KupujemProdajem podatke o ličnosti prikuplja i obrađuje isključivo u skladu sa
  važećim propisima Republike Srbije, a u cilju pružanja usluga informacionog
  društva, zaštite sopstvenih legitimnih (poslovnih) interesa, poboljšanja
  svojih usluga i korisničkog iskustva, zaštite interesa svojih korisnika,
  očuvanja bezbednosti korisnika, te očuvanja javnog interesa i javne
  bezbednosti. Primera radi, podaci o predmetu koji oglašavate preko
  KupujemProdajem nam pomažu da sprečimo objavljivanje neprimerenog i
  eksplicitnog sadržaja, odnosno da sprečimo oglašavanje nezakonite robe i
  usluga. Podaci iz tekstualnih konverzacija sa administracijom KupujemProdajem
  koje ste realizovali putem kontakt forme, pomažu nam da uvedemo nove i
  poboljšamo postojeće funkcionalnosti. Tekstualne konverzacije, kao i
  konverzacije koje sadrže slike u porukama koje ste realizovali sa drugim
  korisnicima putem sistema za razmenu poruka unutar KupujemProdajem nam pomažu
  da sprečimo izvršenje krivičnih dela korišćenjem KupujemProdajem, da pomognemo
  državnim organima u identifikaciji počinioca krivičnih dela, odnosno mogu
  pomoći u rešavanju građanskih sporova. Vaše identifikacione podatke možemo
  dostaviti nadležnom državnom organu samo po ispravno formulisanom nalogu. U
  određenim slučajevima koji proističu iz Pravila i uslova korišćenja
  KupujemProdajem, može doći do automatskog donošenja odluka na osnovu Vaših
  podataka, odnosno automatske obrade podataka. Primera radi, ukoliko korisnik
  postavlja veliki broj oglasa odjednom, postavlja oglase neprimerene sadržine,
  postavlja oglase u pogrešnu kategoriju i grupu, odnosno porukama ili na drugi
  način uznemirava druge korisnike, bezbednosni softverski mehanizmi mogu
  automatski blokirati njegov korisnički nalog, premestiti njegov oglas u
  odgovarajuću kategoriju i grupu, ili preduzeti neku drugu meru. Vaše lične
  podatke KupujemProdajem čuva u bazama i na serverima zaštićenim savremenim
  bezbednostim tehnologijama, poput AES enkripcije podataka na serveru i SSL
  enkripcije komunikacije Vašeg internet pretraživača sa serverima. Pristup
  Vašim podacima i njhovu obradu poveravamo isključivo našim zaposlenima koji su
  prošli adekvatnu obuku. KupujemProdajem kontinuirano sprovodi mere zaštite
  bezbednosti Vaših ličnih podataka, koje obuhvataju savremene radne procese,
  korišćenje savremenih bezbednosnih tehnologija, te mere fizičke bezbednosti
  servera i druge opreme. Podatke čuvamo u trajanju koje je neophodno da
  obezbedi nesmetano pružanje usluga korisnicima, tj. izvršenje naše ugovorne
  obaveze iz Pravila i uslova korišćenja KupujemProdajem. Konkretno, Vaše lične
  podatke čuvaćemo sve dok ste registrovani korisnik KupujemProdajem, odnosno
  dok zahtev za brisanje Vašeg korisničkog naloga i ličnih podataka ne bude
  realizovan. U slučaju kada podnosite zahtev za brisanje naloga i ličnih
  podataka, a imate negativne ocene na nalogu, zadržavamo mogućnost da Vam
  onemogućimo ponovno registrovanje uz korišćenje istih e-mail adresa i brojeva
  telefona sa kojih ste registrovali taj nalog. Nakon podnošenja ovakvog
  zahteva, imamo zakonsku obavezu da određene podatke, na primer identifikaciju,
  čuvamo 30 dana pre konačnog brisanja. Za prikupljanje i obradu bilo kojih
  podataka u bilo koju svrhu koja nije obrađena ovom polisom, KupujemProdajem će
  obavezno tražiti Vaš izričiti pristanak, odnosno postupati u skladu sa važećim
  propisima Republike Srbije. U kojim slučajevima možemo podeliti Vaše lične
  podatke sa trećim licima KupujemProdajem može podeliti Vaše identifikacione
  podatke sa trećim licima u slučajevima: Vašeg izričitog pristanka, na primer u
  slučaju da želite da iskoristite ponudu partnerske kompanije. Po ispravno
  formulisanom nalogu nadležnog državnog organa. Kada je to neophodno radi
  ispunjenja naše ugovorne obaveze ka Vama, odnosno radi poštovanja Pravila i
  uslova korišćenja KupujemProdajem. Određene podatke, na osnovu Vašeg izričitog
  pristanka koji dajete prihvatanjem Pravila i uslova korišćenja KupujemProdajem
  prilikom registracije ili naknadno, možemo automatski podeliti sa
  specijalizovanim tehnološkim partnerima - suobrađivačima podataka. Ovo su
  partneri od poverenja, koji nam pomažu da ostvarimo legitimne poslovne
  interese i unapredimo usluge koje KupujemProdajem nudi korisnicima. Ove
  kompanije primenjuju adekvatne mere bezbednosti, a podatke će prihvatati i
  obrađivati na osnovu ugovora sa KupujemProdajem i u skladu sa ovom polisom. To
  mogu biti: Hosting provajderi, koji obezbeđuju rad servera KupujemProdajem,
  poput kompanije Mainstream d.o.o iz Beograda. Partnerske softverske kompanije,
  poput kompanije NIRI d.o.o iz Niša, koja izrađuje napredna softverska rešenja
  za predlaganje kategorije i grupe prilikom postavljanja oglasa na
  KupujemProdajem od strane korisnika. Partnerske analitičke kompanije, poput
  kompanije Gemius d.o.o iz Beograda, koja vrši analizu posećenosti internet
  portala u Srbiji. Ad-serving kompanije, koje izrađuju softverska rešenja za
  plasiranje reklama na internet portalima, poput kompanija Google LLC iz SAD i
  Gemius SA iz Poljske. Oglašivačke mreže, koje upravljavaju platformama za
  automatizovani zakup i prikazivanje reklama na internet portalima, poput
  kompanija Google LLC iz SAD, ConnectAd iz SAD i Criteo iz Francuske. Kompanije
  od kojih prikupljamo javno dostupne podatke i e-mail adrese prilikom social
  logina (kreiranja korisničkih naloga i korisničkog logovanja preko društvenih
  mreža) i sa kojima navedene i slične podatke i e-mail adrese delimo, poput
  kompanija Facebook iz SAD, Apple iz SAD, Google iz SAD i Googleovih podružnica
  širom sveta. Može se dogoditi da određene podatke, u depersonalizovanoj formi
  koja garantuje apsolutnu anonimnost, tj. garantuje da nije moguća Vaša lična
  identifikacija, podelimo sa partnerima poput marketinških agencija i
  oglašivača, ili sa generalnom javnošću. Primera radi, možemo javno objaviti
  istraživanja tržišta, te izveštaje o trendovima korišćenja naših usluga ili
  generalnim trendovima trgovine preko Interneta. Kakva su Vaša prava u vezi sa
  ličnim podacima koje prikupljamo U svakom trenutku, imate pravo na uvid u sve
  Vaše lične podatke koje smo prikupili, kao i pravo da zatražite da Vam
  dostavimo sve Vaše lične podatke koje čuvamo u skladu sa važećim propisima
  Republike Srbije. U svakom trenutku, imate pravo da izmenite Vaše podatke koji
  su netačni, kao i da povučete saglasnost koju ste prethodno dali za obradu
  vaših podataka. Takođe, u svakom trenutku imate pravo da podnesete zahtev za
  brisanje Vaših ličnih podataka. Ograničenja od ovog prava postoje u
  slučajevima kada izmena ili brisanje Vaših podataka mogu da dovedu do
  sprečavanja istrage, otkrivanja ili gonjenja krivičnih dela, kao i do
  sprečavanja ostvarivanja potraživanja u građanskim sporovima. U slučaju da
  imate negativne ocene na nalogu, Vaš nalog može biti obrisan, ali zadržavamo
  mogućnost da nakon brisanja Vaših podataka ne dozvolimo korišćenje istih
  e-mail adresa i brojeva telefona za otvaranje novog naloga. U svakom trenutku,
  imate pravo na pristup informacijama o svim svrhama prikupljanja i obrade
  podataka na KupujemProdajem (ova polisa). U slučaju da dođe do povrede Vaših
  podataka koja može da predstavlja rizik po Vas, imate pravo da o tome budete
  obavešteni bez odlaganja. U slučaju da smatrate da je neko od Vaših prava
  ugroženo, možete podneti pritužbu Povereniku za zaštitu podataka o ličnosti
  Republike Srbije. Ukoliko ste registrovani korisnik KupujemProdajem, pristup
  svojim podacima možete imati putem opcije “Moji podaci” koja se nalazi u “Moj
  kp” meniju na KupujemProdajem (da biste pristupili ovoj opciji, potrebno je da
  se ulogujete na svoj KupujemProdajem korisnički nalog). Zahtev da Vam
  dostavimo sve Vaše lične podatke koje čuvamo u skladu sa važećim propisima
  Republike Srbije, možete podneti putem opcije “Moji podaci” koja se nalazi u
  “Moj kp” meniju na KupujemProdajem (da biste pristupili ovoj opciji, potrebno
  je da se ulogujete na svoj KupujemProdajem korisnički nalog). Rukovalac Vašim
  podacima je Quable BV, osnivač i vlasnik KupujemProdajem, sa sedištem u Hagu,
  Holandija, registarski broj: 27302667. Rukovaoca možete kontaktirati putem
  kontakt forme na KupujemProdajem. Obrađivač Vaših podataka je KP Advertajzing
  doo, marketinška agencija u vlasništvu osnivača i vlasnika KupujemProdajem, sa
  sedištem u Beogradu, Srbija, matični broj: 20518022. Ovlašćena osoba za
  zaštitu privatnosti i podataka u KupujemProdajem je Jovan Marinković, advokat.
  Kontakt: postovanjeprivatnosti@kupujemprodajem.com Kako nam se možete obratiti
  sa pitanjima u vezi sa Vašim ličnim podacima U slučaju da imate bilo kakvo
  pitanje o zaštiti Vaše privatnosti na KupujemProdajem, kao i o načinu
  skupljanja i obrade Vaših ličnih podataka, molimo Vas da nam se obratite preko
  kontakt forme. Kada KupujemProdajem otvarate sa računara, kontakt formu uvek
  možete pronaći u donjem desnom uglu. Kružnog je oblika, sa tekstom “Predlog,
  Problem, Kontakt”. Ukoliko KupujemProdajem otvarate preko mobilnog telefona,
  kontakt formu možete pronaći u meniju “Moj kp”, opcija “Pomoć i kontakt”. Šta
  se dešava u slučaju promene ove polise Ova polisa je podložna promenama. U
  slučaju značajnih izmena, KupujemProdajem će sve korisnike obavestiti o
  izmenama na aktivan način, na primer putem e-maila ili jasno uočljivih
  obaveštenja. U slučaju da bilo koje buduće promene ove polise budu
  podrazumevale umanjenje Vaših prava, tražićemo od Vas izričiti pristanak za
  nastavak korišćenja KupujemProdajem. U slučaju promena ove polise, sve ranije
  verzije biće javno dostupne u arhivi. 18. 7. 2022. godine Hag, Holandija
</div>
