.paginator-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-white);
  border: 1px solid var(--color-main-light);
  border-radius: 4px;
  padding: 10px;

  .left {
  }

  .center {
    display: flex;
  }

  .right {
    .input-form-field {
      width: 130px;
      margin-left: 20px;

      .search-icon {
        cursor: pointer;
      }
    }
  }
}

::ng-deep .mat-mdc-form-field-subscript-wrapper {
  height: 0px;
}
