<div class="main-container">
  <div class="left-part">
    <div class="logo" (click)="redirectToHome()">
      <pets-icons [name]="companyLogo"></pets-icons>
    </div>
  </div>
  <div class="center-part">
    <div class="search-bar">
      <pets-search-input></pets-search-input>
    </div>
  </div>
  <div class="right-part">
    <div class="notifications">
      <pets-message-notification></pets-message-notification>
    </div>
    <div class="user-info">
      <pets-menu
        [dataModel]="userMenuAction"
        (clickEvent)="userMenuClick($event)"
      ></pets-menu>
    </div>
    <div class="create-ad-button">
      <pets-button
        [text]="'createAd' | translate"
        (clickEvent)="createAd()"
        [iconName]="'plus'"
        [iconPosition]="'left'"
      ></pets-button>
    </div>
  </div>
</div>
