<div class="container">
  <table mat-table [dataSource]="promotions" class="mat-table">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>{{ "id" | translate }}</th>
      <td mat-cell *matCellDef="let element">
        {{ element.id }}
      </td>
    </ng-container>
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>{{ "type" | translate }}</th>
      <td mat-cell *matCellDef="let element">
        {{ element.type | translate }}
      </td>
    </ng-container>
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>{{ "title" | translate }}</th>
      <td mat-cell *matCellDef="let element">
        {{ element.title | translate }}
      </td>
    </ng-container>
    <ng-container matColumnDef="subtitle">
      <th mat-header-cell *matHeaderCellDef>{{ "subtitle" | translate }}</th>
      <td mat-cell *matCellDef="let element">
        {{ element.subtitle | translate }}
      </td>
    </ng-container>
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>{{ "description" | translate }}</th>
      <td mat-cell *matCellDef="let element">
        {{ element.description | translate }}
      </td>
    </ng-container>
    <ng-container matColumnDef="createdOn">
      <th mat-header-cell *matHeaderCellDef>{{ "createdOn" | translate }}</th>
      <td mat-cell *matCellDef="let element">
        {{ element.createdOn | date : "mediumDate" }}
      </td>
    </ng-container>
    <ng-container matColumnDef="services">
      <th mat-header-cell *matHeaderCellDef>{{ "services" | translate }}</th>
      <td mat-cell *matCellDef="let element">
        {{ element.services | translate }}
      </td>
    </ng-container>
    <ng-container matColumnDef="points">
      <th mat-header-cell *matHeaderCellDef>{{ "points" | translate }}</th>
      <td mat-cell *matCellDef="let element">
        {{ element.points }}
      </td>
    </ng-container>
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>{{ "price" | translate }}</th>
      <td mat-cell *matCellDef="let element">
        {{ element.price }}
      </td>
    </ng-container>
    <ng-container matColumnDef="priceCurrency">
      <th mat-header-cell *matHeaderCellDef>
        {{ "priceCurrency" | translate }}
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.priceCurrency | translate }}
      </td>
    </ng-container>
    <ng-container matColumnDef="freeOfCharge">
      <th mat-header-cell *matHeaderCellDef>
        {{ "freeOfCharge" | translate }}
      </th>
      <td mat-cell *matCellDef="let element">
        {{ (element.freeOfCharge ? "yes" : "no") | translate }}
      </td>
    </ng-container>
    <ng-container matColumnDef="inactive">
      <th mat-header-cell *matHeaderCellDef>{{ "isActive" | translate }}</th>
      <td mat-cell *matCellDef="let element">
        {{ (element.inactive ? "no" : "yes") | translate }}
      </td>
    </ng-container>
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef>
        {{ "edit" | translate }}
      </th>
      <td mat-cell *matCellDef="let element">
        <pets-button
          (clickEvent)="editItem(element)"
          [iconName]="'edit'"
        ></pets-button>
      </td>
    </ng-container>
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef>
        {{ "delete" | translate }}
      </th>
      <td mat-cell *matCellDef="let element">
        <pets-button
          (clickEvent)="deleteItem(element)"
          [iconName]="'trash-2'"
        ></pets-button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row matRipple *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
