<div class="forget-password-container">
  <h1>{{ "forgotPassword" | translate }}</h1>
  <h3>
    {{ "inputEmailAndYouWillGetInstructionForPasswordReset" | translate }}
  </h3>
  <form
    id="login-form"
    *ngIf="forgetPasswordForm"
    [formGroup]="forgetPasswordForm"
  >
    <mat-form-field>
      <mat-label [class.mark-required]="true" [class.mark-opt-required]="true">
        {{ "insertYourEmail" | translate }}
      </mat-label>
      <input type="text" matInput formControlName="email" />
    </mat-form-field>
  </form>
  <pets-button color="primary" class="submit-button" (clickEvent)="sendEmail()">
    {{ "sendEmail" | translate }}
  </pets-button>
</div>
