<div class="basic-alert box-sizing-border-box {{ data.mode }}">
  <div class="icon-side">
    <pets-icons *ngIf="data.mode === 'regular'" name="activity"></pets-icons>
    <pets-icons
      *ngIf="data.mode === 'success'"
      name="check-circle"
    ></pets-icons>
    <pets-icons *ngIf="data.mode === 'error'" name="alert-octagon"></pets-icons>
    <pets-icons
      *ngIf="data.mode === 'warning'"
      name="alert-triangle"
    ></pets-icons>
  </div>

  <div class="text-side">
    <div class="text-header">{{ data.title }}</div>
    <div class="text-content">{{ data.content }}</div>
  </div>

  <div class="link-close-side">
    <a
      *ngIf="data.linkText && data.externalLink"
      [href]="data.externalLink"
      target="_blank"
      rel="noopener noreferrer"
      (click)="customEvent(EVENT_TYPES.EXIT)"
      >{{ data.linkText }}</a
    >

    <a
      *ngIf="data.linkText && data.internalLink"
      [href]="data.internalLink"
      (click)="customEvent(EVENT_TYPES.EXIT)"
      >{{ data.linkText }}</a
    >

    <pets-icons name="x" (click)="customEvent(EVENT_TYPES.EXIT)"></pets-icons>
  </div>
</div>
