:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-layout-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;

  .main-bar {
    width: 100%;
    margin-bottom: 10px;
  }

  .main-container {
    max-width: 1200px;
    width: 100%;
  }
}
