.main-container {
  display: flex;
  flex-direction: column;

  .main-menu {
    display: flex;
    justify-content: space-between;

    .logo {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      img {
        height: 50px;
      }
    }

    .buttons {
      margin: 20px;
    }
  }
}
