<div class="container" *ngIf="dataModel">
  <form [formGroup]="searchBarForm" *ngIf="searchBarForm">
    <pets-search-filter></pets-search-filter>
    <mat-form-field class="page-size">
      <mat-label>{{ "num" | translate }}</mat-label>
      <mat-select
        formControlName="pageSize"
        (valueChange)="changePageSize($event)"
      >
        <mat-option
          *ngFor="let item of dataModel.pageSize.options"
          [value]="item.value"
        >
          {{ item.displayName }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="page-sort">
      <mat-label>{{ "sortBy" | translate }}</mat-label>
      <mat-select
        formControlName="pageSort"
        (valueChange)="changeSortBy($event)"
      >
        <mat-option
          *ngFor="let item of dataModel.sort.options"
          [value]="item.value"
        >
          {{ item.displayName | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="view-type">
      <pets-button
        [iconName]="'grid'"
        [color]="'link'"
        (clickEvent)="changeView(viewTypeEnum.grid)"
        [disabled]="viewType === viewTypeEnum.grid"
      ></pets-button>
      <pets-button
        [iconName]="'align-justify'"
        [color]="'link'"
        (clickEvent)="changeView(viewTypeEnum.list)"
        [disabled]="viewType === viewTypeEnum.list"
      ></pets-button>
    </div>
  </form>
</div>
