.button-group {
  display: flex;
  justify-content: space-between;
}
.first-form {
}

.second-form {
  display: flex;
  flex-direction: column;
  width: 100%;

  .title {
    width: 100%;

    .full-width {
      width: 100%;
    }
  }

  .description-editor {
    ::ng-deep .NgxEditor {
      min-height: 150px;
    }
  }

  .additional-information {
    display: flex;
    justify-content: space-evenly;

    .price-wrapper {
      background-color: var(--color-main-lighter);
      width: min-content;
      border-radius: 8px;
      padding: 20px;

      .price {
        margin-right: 30px;
      }
    }

    .contact-wrapper {
      display: flex;
      flex-direction: column;
      background-color: var(--color-main-lighter);
      width: min-content;
      border-radius: 8px;
      padding: 20px;

      .contact-field {
        // margin-right: 20px;
        width: min-content;
      }
    }
  }
}

.third-form {
  .promotion-list {
    display: flex;

    .promotion-content {
      display: flex;
      flex-direction: column;
      max-height: 100%;

      .pets-promotion-card {
        flex: 1;
        border: 1px solid var(--color-main-light);
        border-radius: 6px;
        margin: 0 10px;
      }

      .radio {
        flex: 0;
        text-align: center;
      }
    }
  }
}
