<mat-stepper linear #stepper>
  <mat-step>
    <!-- [stepControl]="firstFormGroup" -->
    <form [formGroup]="firstFormGroup">
      <mat-radio-group
        aria-label="Select sell type"
        formControlName="adSellType"
      >
        <mat-radio-button
          value="{{ item.value }}"
          *ngFor="let item of sellTypeOptions"
          >{{ item.displayName | translate }}</mat-radio-button
        >
      </mat-radio-group>
      <ng-template matStepLabel>adType</ng-template>
      <pets-autocomplete
        [dataModel]="adsType"
        (changeEvent)="onAdsTypeChange($event)"
      ></pets-autocomplete>
      <pets-autocomplete
        [dataModel]="categories"
        (changeEvent)="oncategoriesChange($event)"
      ></pets-autocomplete>
      <pets-autocomplete
        [dataModel]="subCategories"
        (changeEvent)="onSubcategoriesChange($event)"
      ></pets-autocomplete>
    </form>
    <div class="button-group">
      <pets-button [text]="'next' | translate" matStepperNext></pets-button>
    </div>
  </mat-step>
  <mat-step>
    <!--  [stepControl]="secondFormGroup" -->
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>title</ng-template>
      <mat-form-field>
        <mat-label>{{ "title" | translate }}</mat-label>
        <input matInput formControlName="title" placeholder="title" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{ "price" | translate }}</mat-label>
        <input
          type="number"
          matInput
          formControlName="price"
          placeholder="price"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{ "priceCurrency" | translate }}</mat-label>
        <mat-select formControlName="priceCurrency">
          <mat-option
            *ngFor="let item of priceCurrencyOptions"
            [value]="item.value"
          >
            {{ item.displayName | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-checkbox formControlName="priceIsFixed"></mat-checkbox>
      <mat-checkbox formControlName="freeOfCharge"></mat-checkbox>
      <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"> </ngx-editor-menu>
      <ngx-editor
        [editor]="editor"
        [ngModel]="html"
        [disabled]="false"
        [placeholder]="'inputDescriptionOfYourAd' | translate"
      ></ngx-editor>
      <mat-form-field>
        <mat-label>{{ "description" | translate }}</mat-label>
        <input
          matInput
          formControlName="description"
          placeholder="description"
        />
        <div class="EditorWrapper"></div>
      </mat-form-field>
      <div class="image-upload">
        <h3>{{ "adUpTo15ImagesTitle" | translate }}</h3>
        <pets-image-upload [maxFileSize]="'500MB'"></pets-image-upload>
      </div>
      <pets-autocomplete
        [dataModel]="cities"
        (changeEvent)="onCityChange($event)"
      ></pets-autocomplete>
      <mat-form-field>
        <mat-label>{{ "contactName" | translate }}</mat-label>
        <input
          matInput
          formControlName="contactName"
          placeholder="contactName"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{ "contactPhone" | translate }}</mat-label>
        <input
          matInput
          formControlName="contactPhone"
          placeholder="contactPhone"
        />
      </mat-form-field>
    </form>
    <div class="button-group">
      <pets-button [text]="'back' | translate" matStepperPrevious></pets-button>
      <pets-button [text]="'next' | translate" matStepperNext></pets-button>
    </div>
  </mat-step>
  <mat-step>
    <!--  [stepControl]="thirdFormGroup" -->
    <ng-template matStepLabel>Izbor promocije</ng-template>
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Izbor promocije</ng-template>
      <mat-form-field>
        <mat-label>promotion</mat-label>
        <input matInput formControlName="promotion" placeholder="promotion" />
      </mat-form-field>
    </form>
    <p>You are now done.</p>
    <div class="button-group">
      <pets-button [text]="'back' | translate" matStepperPrevious></pets-button>
      <pets-button
        [text]="'submit' | translate"
        (clickEvent)="createAd()"
      ></pets-button>
    </div>
  </mat-step>
</mat-stepper>
