<mat-stepper linear #stepper>
  <mat-step>
    <!-- [stepControl]="firstFormGroup" -->
    <ng-template matStepperIcon="edit">
      <pets-icons [name]="'check'"></pets-icons>
    </ng-template>

    <ng-template matStepLabel>{{ "selectAdType" | translate }}</ng-template>
    <form
      [formGroup]="firstFormGroup"
      *ngIf="firstFormGroup"
      class="first-form"
    >
      <mat-radio-group
        aria-label="Select sell type"
        formControlName="sellType"
        [color]="'primary'"
      >
        <mat-radio-button
          value="{{ item }}"
          *ngFor="let item of sellTypeOptions"
          >{{ item | translate }}</mat-radio-button
        >
      </mat-radio-group>
      <pets-autocomplete
        [dataModel]="adsType"
        (changeEvent)="onAdsTypeChange($event)"
        [label]="'selectAdType' | translate"
      ></pets-autocomplete>
      <pets-autocomplete
        [dataModel]="categories"
        (changeEvent)="oncategoriesChange($event)"
        [label]="'selectAdCategory' | translate"
      ></pets-autocomplete>
      <pets-autocomplete
        [dataModel]="subCategories"
        (changeEvent)="onSubcategoriesChange($event)"
        [label]="'selectAdSubcategory' | translate"
      ></pets-autocomplete>
    </form>
    <div class="button-group">
      <pets-button
        [text]="'next' | translate"
        [disabled]="!firstFormGroup?.valid"
        (clickEvent)="nextStep()"
      ></pets-button>
    </div>
  </mat-step>
  <mat-step>
    <!-- [stepControl]="secondFormGroup" -->
    <ng-template matStepLabel>{{
      "addBasicInformation" | translate
    }}</ng-template>
    <form
      [formGroup]="secondFormGroup"
      *ngIf="secondFormGroup"
      class="second-form"
    >
      <div class="image-upload">
        <h3>{{ "adUpTo15ImagesTitle" | translate }}</h3>
        <pets-image-upload
          [maxFileSize]="'500MB'"
          #petsImageUpload
        ></pets-image-upload>
      </div>

      <div class="title">
        <h3>{{ "adTitle" | translate }}</h3>
        <mat-form-field class="full-width">
          <mat-label>{{
            "forExampleFrenchBulldogsOldOneMonth" | translate
          }}</mat-label>
          <input matInput formControlName="title" />
        </mat-form-field>
      </div>
      <div class="description-editor">
        <mat-label>{{ "description" | translate }}</mat-label>
        <div class="EditorWrapper"></div>
        <ngx-editor-menu [editor]="editor" [toolbar]="toolbar">
        </ngx-editor-menu>
        <ngx-editor
          [editor]="editor"
          formControlName="description"
          [disabled]="false"
          [placeholder]="'inputDescriptionOfYourAd' | translate"
        ></ngx-editor>
      </div>
      <div class="additional-information">
        <div class="price-wrapper">
          <h4>{{ "priceInformation" | translate }}</h4>
          <mat-form-field class="price">
            <mat-label>{{ "price" | translate }}</mat-label>
            <input type="number" matInput formControlName="price" #priceInput />
          </mat-form-field>
          <mat-form-field>
            <mat-label>{{ "priceCurrency" | translate }}</mat-label>
            <mat-select formControlName="priceCurrency">
              <mat-option
                *ngFor="let item of priceCurrencyOptions"
                [value]="item"
              >
                {{ item | translate }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-checkbox formControlName="priceIsFixed" [color]="'primary'">{{
            "priceIsFixed" | translate
          }}</mat-checkbox>
          <mat-checkbox
            [color]="'primary'"
            formControlName="freeOfCharge"
            [disabled]="+priceInput.value > 0"
            >{{ "freeOfCharge" | translate }}</mat-checkbox
          >
        </div>
        <div class="contact-wrapper">
          <h4>{{ "contactInformation" | translate }}</h4>
          <mat-form-field class="contact-field">
            <mat-label>{{ "contactName" | translate }}</mat-label>
            <input matInput formControlName="contactName" />
          </mat-form-field>
          <mat-form-field class="contact-field">
            <mat-label>{{ "contactPhone" | translate }}</mat-label>
            <input matInput formControlName="contactPhone" />
          </mat-form-field>
          <pets-autocomplete
            [dataModel]="citiesEnumValues"
            (changeEvent)="onCityChange($event)"
            [label]="'selectYourPlace' | translate"
            class="contact-field"
          ></pets-autocomplete>
        </div>
      </div>
    </form>
    <div class="button-group">
      <pets-button
        [text]="'back' | translate"
        (clickEvent)="previousStep()"
      ></pets-button>
      <pets-button
        [text]="'next' | translate"
        (clickEvent)="nextStep()"
      ></pets-button>
    </div>
  </mat-step>
  <mat-step>
    <!--  [stepControl]="thirdFormGroup" -->
    <ng-template matStepLabel>{{
      "chooseYourPromotion" | translate
    }}</ng-template>
    <form
      [formGroup]="thirdFormGroup"
      *ngIf="thirdFormGroup"
      class="third-form"
    >
      <mat-radio-group
        formControlName="promotion"
        [color]="'primary'"
        class="promotion-list"
      >
        <div class="promotion-content" *ngFor="let prom of promotions">
          <pets-promotion-card
            [dataModel]="prom"
            class="pets-promotion-card"
          ></pets-promotion-card>
          <mat-radio-button [value]="prom" class="radio"> </mat-radio-button>
        </div>
      </mat-radio-group>
    </form>
    <div class="button-group">
      <pets-button [text]="'back' | translate" matStepperPrevious></pets-button>
      <pets-button
        [text]="'submit' | translate"
        [disabled]="!thirdFormGroup?.valid"
        (clickEvent)="createAd()"
      ></pets-button>
    </div>
  </mat-step>
</mat-stepper>
