<div class="header">
  <pets-button
    [text]="'create' | translate"
    [iconName]="'plus'"
    [iconPosition]="'left'"
    (clickEvent)="createNew()"
  ></pets-button>
</div>
<div class="container">
  <table
    mat-table
    [dataSource]="ads"
    multiTemplateDataRows
    class="mat-elevation-z8"
  >
    <ng-container matColumnDef="adType">
      <th mat-header-cell *matHeaderCellDef>{{ "adType" | translate }}</th>
      <td mat-cell *matCellDef="let element">{{ element.adType }}</td>
    </ng-container>

    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef>{{ "category" | translate }}</th>
      <td mat-cell *matCellDef="let element">{{ element.category }}</td>
    </ng-container>

    <ng-container matColumnDef="adStatus">
      <th mat-header-cell *matHeaderCellDef>{{ "adStatus" | translate }}</th>
      <td mat-cell *matCellDef="let element">{{ element.adStatus }}</td>
    </ng-container>

    <ng-container matColumnDef="city">
      <th mat-header-cell *matHeaderCellDef>{{ "city" | translate }}</th>
      <td mat-cell *matCellDef="let element">{{ element.city.value }}</td>
    </ng-container>

    <ng-container matColumnDef="user">
      <th mat-header-cell *matHeaderCellDef>{{ "user" | translate }}</th>
      <td mat-cell *matCellDef="let element">{{ element.user.username }}</td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef>
        {{ "edit" | translate }}
      </th>
      <td mat-cell *matCellDef="let element">
        <pets-button
          (clickEvent)="editItem(element)"
          [iconName]="'edit'"
          [stopPropagination]="true"
        ></pets-button>
      </td>
    </ng-container>

    <ng-container matColumnDef="deactivate">
      <th mat-header-cell *matHeaderCellDef>
        {{ "deactivateActivate" | translate }}
      </th>
      <td mat-cell *matCellDef="let element">
        <pets-button
          (clickEvent)="deactivateItem(element)"
          [iconName]="'activity'"
          [stopPropagination]="true"
        ></pets-button>
      </td>
    </ng-container>

    <ng-container matColumnDef="expand">
      <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
      <td mat-cell *matCellDef="let element">
        <pets-button
          [iconName]="
            expandedElement !== element ? 'chevron-down' : 'chevron-up'
          "
          [color]="'link'"
          (clickEvent)="
            expandedElement = expandedElement === element ? null : element;
            $event.stopPropagation()
          "
        ></pets-button>
      </td>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td
        mat-cell
        *matCellDef="let element"
        [attr.colspan]="columnsToDisplayWithExpand.length"
      >
        <div
          class="example-element-detail"
          [@detailExpand]="
            element == expandedElement ? 'expanded' : 'collapsed'
          "
        >
          <div class="example-element-diagram">
            <div class="thumbnail" *ngIf="element.images?.length; else noImage">
              <img [src]="getImageUrl(element.images[0])" />
            </div>
          </div>
          <div class="grid-container">
            <div class="grid-item">{{ "id" | translate }}</div>
            <div class="grid-item">{{ element.id }}</div>
            <div class="grid-item">{{ "adStatus" | translate }}</div>
            <div class="grid-item">{{ element.adStatus }}</div>
            <div class="grid-item">{{ "adType" | translate }}</div>
            <div class="grid-item">{{ element.adType }}</div>
            <div class="grid-item">{{ "category" | translate }}</div>
            <div class="grid-item">{{ element.category }}</div>
            <div class="grid-item">{{ "subcategory" | translate }}</div>
            <div class="grid-item">{{ element.subcategory | translate }}</div>
            <div class="grid-item">{{ "city" | translate }}</div>
            <div class="grid-item">{{ element.city.value }}</div>
            <div class="grid-item">{{ "contactName" | translate }}</div>
            <div class="grid-item">{{ element.contactName }}</div>
            <div class="grid-item">{{ "contactPhone" | translate }}</div>
            <div class="grid-item">{{ element.contactPhone }}</div>
            <div class="grid-item">{{ "createdOn" | translate }}</div>
            <div class="grid-item">{{ element.createdOn | date }}</div>
            <div class="grid-item">{{ "price" | translate }}</div>
            <div class="grid-item">{{ element.price | translate }}</div>
            <div class="grid-item">{{ "priceCurrency" | translate }}</div>
            <div class="grid-item">{{ element.priceCurrency | translate }}</div>
            <div class="grid-item">{{ "priceIsFixed" | translate }}</div>
            <div class="grid-item">{{ element.priceIsFixed | translate }}</div>
            <div class="grid-item">{{ "freeOfCharge" | translate }}</div>
            <div class="grid-item">{{ element.freeOfCharge | translate }}</div>
            <div class="grid-item">{{ "title" | translate }}</div>
            <div class="grid-item">{{ element.title | translate }}</div>
            <div class="grid-item">{{ "user" | translate }}</div>
            <div class="grid-item">{{ element.user.username | translate }}</div>
            <div class="grid-item">{{ "promotion" | translate }}</div>
            <div class="grid-item">
              {{ element.promotion.title | translate }}
            </div>
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
    <tr
      mat-row
      *matRowDef="let element; columns: columnsToDisplayWithExpand"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element"
    ></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: ['expandedDetail']"
      class="example-detail-row"
    ></tr>
  </table>
</div>
<ng-template #noImage>
  <div class="thumbnail">
    <img
      src="https://www.allianceplast.com/wp-content/uploads/no-image-1024x1024.png"
    />
  </div>
</ng-template>
