<div class="container">
  <form [formGroup]="filterForm" *ngIf="filterForm" class="form">
    <div class="sell-type-content filter-content">
      <div class="filter-title">
        {{ "sellTypes" | translate }}
      </div>
      <pets-select
        [dataModel]="allSellTypes"
        [fullWidth]="true"
        [label]="'sellTypes' | translate"
        formControlName="sellTypes"
        [multipleSelect]="true"
      ></pets-select>
    </div>
    <div class="city-content filter-content">
      <div class="filter-title">
        {{ "city" | translate }}
        <pets-button
          [iconName]="'plus'"
          [color]="'link'"
          [smallWidth]="true"
          (clickEvent)="addNew('city')"
        ></pets-button>
      </div>
      <!-- <pets-autocomplete-multiselect></pets-autocomplete-multiselect> -->
      <pets-autocomplete
        *ngFor="let city of filterForm?.get('cities')?.value; let i = index"
        [dataModel]="(allCities | async) || undefined"
        (clearEvent)="clearCityEvent(i)"
        [label]="'selectYourPlace' | translate"
      ></pets-autocomplete>
    </div>
    <div class="price-content filter-content">
      <div class="filter-title">
        {{ "price" | translate }}
        <pets-button
          [iconName]="'plus'"
          [color]="'link'"
          [smallWidth]="true"
          (clickEvent)="addNew('price')"
        ></pets-button>
      </div>
      <div class="inputs-container">
        <div class="inputs">
          <mat-form-field class="price-input-form-field">
            <mat-label>{{ "from" }}</mat-label>
            <input type="text" matInput formControlName="priceFrom" />
            <pets-icons
              (click)="clearValue('priceFrom')"
              name="x"
              class="close"
              matSuffix
            ></pets-icons>
          </mat-form-field>
          <mat-form-field class="price-input-form-field">
            <mat-label>{{ "to" }}</mat-label>
            <input type="text" matInput formControlName="priceTo" />
            <pets-icons
              (click)="clearValue('priceTo')"
              name="x"
              class="close"
              matSuffix
            ></pets-icons>
          </mat-form-field>
        </div>
        <div class="currency">
          <pets-select
            [dataModel]="allCurrencyOptions"
            [fullWidth]="true"
            [label]="'currency' | translate"
            formControlName="priceCurrency"
          ></pets-select>
        </div>
      </div>
    </div>
    <div class="ad-type-content filter-content">
      <div class="filter-title">
        {{ "adTypes" | translate }}
        <pets-button
          [iconName]="'plus'"
          [color]="'link'"
          [smallWidth]="true"
          (clickEvent)="addNew('adTypes')"
        ></pets-button>
      </div>
      <pets-select
        [dataModel]="adTypes"
        [fullWidth]="true"
        [label]="'adTypes' | translate"
        [multipleSelect]="true"
        formControlName="adTypes"
      ></pets-select>
    </div>
    <div class="categories-content filter-content">
      <div class="filter-title">
        {{ "categories" | translate }}
        <pets-button
          [iconName]="'plus'"
          [color]="'link'"
          [smallWidth]="true"
          (clickEvent)="addNew('categories')"
        ></pets-button>
      </div>
      <pets-select
        [dataModel]="categories"
        [fullWidth]="true"
        [label]="'categories' | translate"
        [multipleSelect]="true"
        formControlName="categories"
      ></pets-select>
    </div>
    <div class="subcategories-content filter-content">
      <div class="filter-title">
        {{ "subcategories" | translate }}
        <pets-button
          [iconName]="'plus'"
          [color]="'link'"
          [smallWidth]="true"
          (clickEvent)="addNew('subcategories')"
        ></pets-button>
      </div>
      <pets-select
        [dataModel]="subcategories"
        [fullWidth]="true"
        [label]="'subcategories' | translate"
        [multipleSelect]="true"
        formControlName="subcategories"
      ></pets-select>
    </div>
    <div class="filter-content">
      <div class="priceIsFixed-content">
        <mat-checkbox formControlName="priceIsFixed" [color]="'primary'">{{
          "priceIsFixed" | translate
        }}</mat-checkbox>
      </div>
      <div class="freeOfCharge-content">
        <mat-checkbox formControlName="freeOfCharge" [color]="'primary'">{{
          "freeOfCharge" | translate
        }}</mat-checkbox>
      </div>
    </div>
  </form>
</div>
