.container {
  background-color: var(--color-white);
  border: 1px solid var(--color-main-light);
  border-radius: 4px;
  padding: 10px;

  .page-size {
    width: 170px;
  }

  .form {
    .filter-content {
      margin-top: 10px;
    }

    .filter-title {
      display: flex;
      font-weight: 600;
      font-size: 16px;
      // margin-bottom: 10px;
      justify-content: space-between;
      align-items: center;

      .add-new {
        cursor: pointer;
      }
    }

    .city-content {
      // width: calc(100% - 10px);
    }

    .price-content {
      display: flex;
      flex-direction: column;

      .inputs-container {
        display: flex;
        flex-direction: column;

        .inputs {
          .price-input-form-field {
            width: calc(100% / 2 - 20px);
            margin: 0px 10px;

            .close {
              cursor: pointer;
            }
          }
        }
        .currency {
          margin: 10px 10px 0 10px;
        }
      }
    }
  }
}
