<div class="container">
  <div class="search-bar">search</div>
  <div class="outcomes" scrollToBottom>
    <div class="grid-container standard-grid-table">
      <div class="grid-item header sticky">
        {{ "buyerName" | translate }}
      </div>
      <div class="grid-item header sticky">
        {{ "date" | translate }}
      </div>
      <!-- <div class="grid-item header sticky">
        {{ "amount" | translate }}
      </div>
      <div class="grid-item header sticky">
        {{ "edit" | translate }}
      </div>
      <div class="grid-item header sticky">
        {{ "delete" | translate }}
      </div> -->
    </div>
  </div>
</div>
