<div class="container">
  <div class="filters">
    <pets-filters
      [dataModel]="selectedFilter | async"
      (changeEvent)="filtersChanged($event)"
    ></pets-filters>
  </div>
  <div class="content">
    <div class="selected-filters">
      <pets-selected-filters
        [dataModel]="(selectedFilter | async)?.adSearchCriteria || null"
      ></pets-selected-filters>
    </div>
    <div class="ads-wrapper-container">
      <pets-search-bar
        [dataModel]="searchBarModel"
        (changeEvent)="searchBarEventHandler($event)"
        *ngIf="searchBarModel"
      ></pets-search-bar>
      <div class="ads-container">
        <div
          class="grid-container"
          *ngIf="
            (isLoading$ | async) === true ||
              (length$ | async) !== 0 ||
              selection.showSelected;
            else zeroAdsTemplate
          "
          [ngClass]="{
            list: viewType === viewTypeEnum.list,
            grid: viewType === viewTypeEnum.grid
          }"
        >
          <ng-container
            *ngFor="let ad of entities | async; trackBy: trackByOid"
          >
            <ng-container *ngIf="viewType === viewTypeEnum.list">
              <pets-ad-line
                [dataModel]="ad"
                class="ad-card-container"
                (clickEvent)="goToAd(ad)"
              ></pets-ad-line>
            </ng-container>
            <ng-container *ngIf="viewType === viewTypeEnum.grid">
              <pets-ad-card
                [dataModel]="ad"
                class="ad-card-container"
                (clickEvent)="goToAd(ad)"
              ></pets-ad-card>
            </ng-container>
          </ng-container>
        </div>
        <ng-template #zeroAdsTemplate>
          <div class="no-ads">{{ "thereAreNoResults" | translate }}</div>
        </ng-template>
      </div>
      <pets-paginator
        [totalPagesCount]="totalPageLength | async"
        [currentPageCount]="(currentPage | async) || 0"
        (goToPageEvent)="goToPage($event)"
      ></pets-paginator>
    </div>
  </div>
</div>
