.container {
  border: 1px solid var(--color-primary);
  border-radius: 8px;

  h5 {
    text-align: center;
  }

  h3 {
    text-align: center;

    &.warning {
      color: var(--color-danger);
    }
  }

  input {
  }

  .file-section {
    display: flex;

    .grid-container {
      --column-min-width: 150px;
      box-sizing: border-box;
      width: 100%;
      height: fit-content;
      padding: 0 3px;
      display: grid;
      grid-template-columns: repeat(
        auto-fill,
        minmax(var(--column-min-width), 1fr)
      );
      grid-gap: 20px;
      justify-content: space-between;

      .file {
        display: flex;
        flex-direction: column;
        position: relative;
        box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
          0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
        width: 100%;
        height: var(--column-min-width);
        transition: transform 400ms ease;
        box-sizing: content-box;
        border-radius: 6px;
        cursor: grab;

        .image-wrapper {
          width: 100%;
          height: 100%;
          position: relative;
          transition: transform 400ms ease;
          overflow: hidden;
          text-align: center;
          border-radius: 6px;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center center;
            transition: transform 400ms ease;
          }
        }

        .name {
          position: absolute;
          top: 10px;
          right: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .additional-info {
          display: flex;
          position: absolute;
          bottom: 10px;
          width: 100%;
          justify-content: space-between;
          font-weight: 600;

          .image-index {
            background-color: #d3d3d3;
            border-radius: 3px;
            padding: 5px;
            margin-left: 10px;
          }
        }
      }
    }
  }

  .file-input {
    width: 150px;
    height: 150px;
  }

  .upload-button {
    margin-top: 20px;
    input {
      display: none;
    }
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.file:last-child {
  border: none;
}

.grid-container.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.file.cdk-drag {
  cursor: move;

  .image-wrapper img {
    height: 150px;
    width: 150px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
      transition: transform 400ms ease;
    }
  }

  .name,
  .additional-info {
    display: none;
  }
}

.drag-handler {
  cursor: move;
}
