<div class="container">
  <h5>{{ ("maxFileSize" | translate) + " " + maxFileSize + "." }}</h5>
  <div *ngIf="files.length" class="file-section">
    <div class="grid-container">
      <div *ngFor="let file of files" class="file">
        <div class="image-wrapper">
          <img [src]="getSafeImageUrl(file)" alt="Image" />
        </div>
        <div class="name">{{ file.name }}</div>
        <div class="additional-info">
          <div class="size">{{ file.size | filesize }}</div>
        </div>
      </div>
    </div>
  </div>
  <h3 class="warning" *ngIf="maxImagesCount - files.length < 0">
    {{ "maxImagesCountIs" | translate : { imageCount: maxImagesCount } }}
  </h3>
  <div class="upload-button">
    <input type="file" id="fileInput" multiple (change)="onChange($event)" />
    <pets-button
      (clickEvent)="triggerFileInput()"
      [text]="
        ('addOrDropImages' | translate) +
        ' - ' +
        (maxImagesCount - files.length >= 0
          ? maxImagesCount - files.length
          : 0) +
        ' ' +
        ('left' | translate)
      "
      [fullWidth]="true"
    ></pets-button>
  </div>
</div>
