<div
  class="container"
  (click)="triggerFileInput()"
  petsDragDrop
  (fileDropped)="onDropped($event)"
>
  <h5>{{ ("maxFileSize" | translate) + " " + maxFileSize + "." }}</h5>
  <pets-drag-drop
    [items]="images"
    (imageIndexChanged)="updateImagesIndexes()"
    (removeItemEvent)="removeImage($event)"
  ></pets-drag-drop>
  <h3 class="warning" *ngIf="maxImagesCount - images.length < 0">
    {{ "maxImagesCountIs" | translate : { imageCount: maxImagesCount } }}
  </h3>
  <div class="upload-button">
    <input type="file" id="fileInput" multiple (change)="onChange($event)" />
    <pets-button
      [text]="
        ('addOrDropImages' | translate) +
        ' - ' +
        (maxImagesCount - images.length >= 0
          ? maxImagesCount - images.length
          : 0) +
        ' ' +
        ('left' | translate)
      "
      [fullWidth]="true"
    ></pets-button>
  </div>
</div>
