<div class="container">
  <div class="main-filter">
    <div
      class="category"
      *ngFor="let adType of adsType"
      (click)="selectAdType(adType)"
      [ngClass]="{ selected: adType === selectedAdType }"
    >
      <img src="{{ adType.thumbnailUrl }}" />
      <div class="name">{{ adType.displayValue[selectedLanguage] }}</div>
    </div>
    <div class="selecting">
      <form class="example-form">
        <pets-autocomplete
          [dataModel]="categories"
          (changeEvent)="onAutocompleteChange($event)"
        ></pets-autocomplete>
        <pets-autocomplete [dataModel]="subCategories"></pets-autocomplete>
        <pets-button
          [text]="'search' | translate"
          (clickEvent)="search()"
        ></pets-button>
      </form>
    </div>
  </div>

  {{ "recommendedForYou" | translate }}
</div>
