.container {
  width: 100%;
  background: linear-gradient(360deg, #9461c4 0, #f2e3ff 75%, #8e37df);

  .central-content {
    display: flex;
    height: calc(100vh - 155px);
    align-items: center;
    position: relative;

    .main-filter {
      display: flex;
      flex-direction: column;
      max-width: 450px;
      padding: 10px;
      border-radius: 8px;
      margin-left: 40px;
      z-index: 1;

      .categories {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;

        .category {
          border: 1px solid gray;
          border-radius: 8px;
          width: 130px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-items: center;
          height: 100px;
          box-sizing: border-box;

          .icon {
          }

          .name {
            font-size: 16px;
            font-weight: 600;
            text-align: center;
          }

          &.selected {
            border: 2px solid var(--color-primary);
          }
        }

        .category:hover {
          border: 1px solid var(--color-primary);
          cursor: pointer;
        }

        .selected:hover {
          border: 2px solid var(--color-primary);
          cursor: pointer;
        }
      }

      .selecting {
        display: flex;
        justify-content: space-between;

        .types {
        }

        .sub-categories {
        }
      }

      .search {
        width: 100%;
      }
    }

    .buldog-wrapper {
      display: flex;
      height: 100%;
      width: 100%;
      align-items: center;
      justify-content: center;
      overflow: hidden;

      .buldog {
        position: absolute;
        right: 0;
      }
    }
  }

  .bottom-menu {
    height: 80px;
    background-color: var(--color-white);
  }
}
