<div class="container">
  <div class="central-content">
    <div class="main-filter">
      <div class="categories">
        <div
          class="category"
          *ngFor="let adType of adsType"
          (click)="selectAdType(adType)"
          [ngClass]="{ selected: adType === selectedAdType }"
        >
          <pets-icons
            [name]="adType.iconName"
            class="icon"
            [size]="'80px'"
          ></pets-icons>
          <div class="name">{{ adType.displayValue[selectedLanguage] }}</div>
        </div>
      </div>
      <div class="selecting">
        <div class="types">
          <pets-autocomplete
            [dataModel]="categories"
            (changeEvent)="onAutocompleteChange($event)"
            [label]="'selectCategory' | translate"
          ></pets-autocomplete>
        </div>
        <div class="sub-categories">
          <pets-select
            [dataModel]="subCategories"
            [multipleSelect]="true"
            [label]="'selectSubcategory' | translate"
          ></pets-select>
        </div>
      </div>
      <div class="search">
        <pets-button
          [text]="'search' | translate"
          (clickEvent)="search()"
          [fullWidth]="true"
        ></pets-button>
      </div>
    </div>
    <div class="buldog-wrapper">
      <pets-icons
        [name]="'buldog'"
        class="buldog"
        [size]="'450px'"
      ></pets-icons>
    </div>
  </div>
  <div class="bottom-menu">
    <div class="favorites">
      <div
        class="favorite"
        *ngFor="let fav of favoritesMenu"
        (click)="goTo(fav)"
      >
        <pets-icons [name]="fav.icon"></pets-icons>
        <div class="name">{{ fav.name }}</div>
      </div>
    </div>
  </div>
</div>
